@use "../../../styles/variables";

header {
  background-color: variables.$White;
  box-shadow: 0 2px 3px variables.$Dark-Gray-Shadow;
  
}
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: variables.$White;
  padding: 1.9rem 1rem;
  &__title {
    font-size: 0.9rem;
    font-weight: 700;
  }
  &__toggle-theme-btn {
    background-color: transparent;
    border: none;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    cursor: pointer;
    padding: 0.5rem;
    border-radius: 5px;
    transition: background-color .2s ease;
    i {
      font-size: 1rem;
    }
    &:hover {
      background-color: variables.$Dark-Gray-Shadow;
    }
  }
  &__toggle-theme-btn-text {
    font-size: 0.75rem;
  }
}

@media screen and (min-width: 768px) {
  .header {
    padding: 1.5rem 1rem;
    max-width: 1300px;
    margin: auto;
    &__title {
      font-size: 1.55rem;
    }
    &__toggle-theme-btn {
      cursor: pointer;
      i {
        font-size: 1.25rem;
      }
    }
    &__toggle-theme-btn-text {
      font-size: 1rem;
    }
  }
}

.dark {
  background-color: variables.$Light-Dark-Blue;
  color: variables.$White;
}

.dark-box-shadow {
  box-shadow: 0 2px 3px variables.$Black;
}