@use "../../../styles/variables";

.filters {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 1rem;
  &__input-and-icon {
    position: relative;
    i {
      position: absolute;
      top: 14px;
      left: 2rem;
      opacity: 0.2;
    }
  }
  &__input-text {
    width: 100%;
    padding: 0.8rem 0.8rem 0.8rem 4.5rem;
    box-shadow: 0 0 5px variables.$Dark-Gray-Shadow;
    border: none;
    cursor: pointer;
    &::placeholder {
      font-size: 0.75rem;
      color: variables.$Dark-Gray;
      opacity: 0.7;
    }
  }
  &__form-field {
    max-width: 200px;
  }
  &__label {
    font-size: 0.7rem;
  }
  &__select {
    font-size: 0.7rem;
  }
  &__option {
    font-size: 0.7rem;
  }
}

@media screen and (min-width: 768px) {
  .filters {
    flex-direction: row;
    justify-content: space-between;
    max-width: 1310px;
    margin: auto;
    padding: 1.5rem 1rem 2.5rem;
    &__input-and-icon {
      align-self: center;
      i {
        top: 16px;
      }
    }
    &__input-text {
      min-width: 480px;      
      padding: 1.1rem 1.1rem 1.1rem 4.5rem;
      cursor: pointer;
      &::placeholder {
        font-size: 0.85rem;
      }
    }
    &__form-field {
      max-width: 200px;
      position: relative;
      top: 10px;
    }
    &__label {
      font-size: .85rem;
      padding-left: 0.5rem;
    }
    &__select {
      font-size: .85rem;
    }
    &__option {
      font-size: .85rem;
    }
  }
}

.dark {
  background-color: variables.$Dark-Blue;
  color: variables.$White;
}

.dark-input {
  background-color: variables.$Light-Dark-Blue;
  color: variables.$White;  
  &::placeholder {
    color: variables.$White;
  }
}

// 