@use "../../../styles/variables";

.country {
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;
    &__return-btn {
        cursor: pointer;
        align-self: start;
        background-color: transparent;
        padding: 0.5rem 1.5rem;
        border: none;
        box-shadow: 1px 1px 5px variables.$Dark-Gray;
        display: flex;
        align-items: center;
        gap: .75rem;
        border-radius: 5px;
    }
    &__container {
        display: flex;
        flex-direction: column;
        gap: .75rem;
        align-items: flex-start;
        justify-content: center;
        img {
            width: 100%;
            padding: 1rem 0;
        }
        h2 {
            font-weight: 900;
            font-size: 1.25rem;
        }
    }
    &__first-info, &__second-info {
        display: flex;
        flex-direction: column;
        gap: .75rem;
    }
    &__text-container {
        display: flex;
        flex-direction: column;
        gap: 2rem;
        .last {
            display: flex;
            flex-direction: column;
            gap: .5rem;
        }
    }
    &__info {
        font-weight: 700;
        font-size: .9rem;
        b {
            font-weight: 300;
        }
        h4 {
            font-size: 1rem;
            white-space: nowrap;
        }
        button {
            background-color: transparent;
            border: none;
            padding: 0.5rem 1.5rem;
            box-shadow: 1px 1px 5px variables.$Dark-Gray;
            border-radius: 2px;
            cursor: pointer;
        }
    }

    &__border-countries {
        display: flex;
        align-items: start;
        gap: 1rem;
        flex-wrap: wrap;
    }
}

.dark {
    background-color: variables.$Dark-Blue;
    color: variables.$White;
}

@media screen and (min-width: 768px) {
    .country {
        gap: 0rem;
        align-items: center;
        max-width: 1300px; 
        margin: 2rem auto;
        min-height: calc(100vh - 85.6px);
        &__return-btn {
            padding: 0.65rem 2.5rem;
            font-size: 1rem;
            gap: 1rem;
        }
        &__img-container {
            display: flex;
            align-items: start;
            justify-content: start;
            margin-right: auto;
            img {
                min-width: 265px;
                height: 450px;
                object-fit: contain;
            }
        }
        &__container {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: 5rem;
            align-items: center;
            max-width: 1300px;
            margin: auto;
            h2 {
                font-weight: 800;
                font-size: 1.9rem;
            }
        }
        &__text-container {
            justify-self: start;
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            align-items: start;
            gap: 2rem 5rem;
            min-width: 400px;
            h2 {
                grid-area: 1 / 1 / 2 / 3;
            }
            .last {
                grid-area: 3 / 1 / 4 / 3;
                display: flex;
                flex-direction: row;
                align-items: center;
                gap: 1rem;
            }
        }
        &__info {
            font-weight: 700;
            font-size: 1rem;
            b {
                font-weight: 300;
            }
            h4 {
                font-size: 1rem;
            }
            button {
                background-color: transparent;
                border: none;
                padding: 0.5rem 1.5rem;
                box-shadow: 1px 1px 5px variables.$Dark-Gray;
                border-radius: 2px;
                cursor: pointer;
            }

        }
        &__border-countries {
            display: flex;
            gap: 1rem;
            flex-wrap: wrap;
        }
    }
}