<div class="country">
    <button class="country__return-btn">
        <i class="fa-solid fa-arrow-left" style="color: #000000;"></i>
        <span>Back</span>
    </button>

    <div class="country__container">
        <img [src]="flag" alt="">
        <h2>Country</h2>
        <span class="country__">
            <b>Native name: {{ nativeName }}</b>
            
        </span>
        <span class="country__">
            <b>Population: {{ population }}</b>

        </span>
        <span class="country__">
            <b>Region: {{ region }}</b>

        </span>
        <span class="country__">
            <b>Sub Region: {{ subRegion }}</b>

        </span>
        <span class="country__">
            <b>Capital: {{ capital }}</b>

        </span>
        <span class="country__">
            <b>Top Level Domain: {{ topLevelDomain }}</b>

        </span>
        <span class="country__">
            <b>Currencies: {{ currencies }}</b>

        </span>
        <span class="country__">
            <b>Languages: {{ languages }}</b>

        </span>

        <div class="country__border-countries">
            <h4>Border Countries</h4>
            <button class="country__border-country">
                Country {{ borderCountries }}
            </button>
        </div>
    </div>
</div>
