@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');

$Dark-Blue: #2b3945;
$Very-Dark-Blue: #202c37;
$Very-Dark-Blue: #111517;
$Dark-Gray: #858585;
$Dark-Gray-Shadow: #85858531;
$Very-Light-Gray: #fafafa;
$White: #ffffff;
$Nunito: "Nunito Sans", sans-serif;