<div [class.dark]="isDarkThemeEnabled$ | async" class="container">
  <app-header ></app-header>
  
  <ng-container *ngIf="isCountryClicked; then countryInfos; else allCountries"></ng-container>
  

  <ng-template #countryInfos>
    <app-country
      [flag]="selectedCountry!.flags.svg"
      [name]="selectedCountry!.name"
      [nativeName]="selectedCountry!.nativeName"
      [population]="selectedCountry!.population"
      [region]="selectedCountry!.region"      
      [subRegion]="selectedCountry!.subregion"
      [capital]="selectedCountry!.capital"
      [topLevelDomain]="selectedCountry!.topLevelDomain"
      [currencies]="selectedCountry!.currencies[0].name"
      [languages]="listLanguages(selectedCountry!.languages)"
      [borderCountries]="getBorderCountry(selectedCountry!).length === 0 ? ['No border countries'] : getBorderCountry(selectedCountry!)"
      (returnEvent)="returnButton($event)"
      (borderCountryClicked)="receivedBorderCountry($event)"
      ></app-country>
  </ng-template>
  

  <ng-template #allCountries>
    <div class="container__content" >
      <app-filters
        (inputEvent)="handleInput($event)"
        (selectEvent)="handleSelect($event)"
        ></app-filters>
    
      <section class="countries" [class.dark]="isDarkThemeEnabled$ | async">
    
        <ul class="countries__list" >
          <app-countries [class.dark]="isDarkThemeEnabled$ | async"
            *ngFor="let country of paginatedCountriesList"
            [flag]="country.flags.svg"
            [countryName]="country.name"
            [population]="country.population"
            [region]="country.region"
            [capital]="country.capital"
            (OnSelectCountry)="getCountryName($event)"
            (ShowSelectedCountry)="getBoolean($event)"
          ></app-countries>
        </ul>
      </section>
    
    </div>
    <mat-paginator 
      class="paginator"
      [length]="totalItems"
      [pageSize]="itemsPerPage"
      [pageSizeOptions]="[8, 12, 16, 24]"
      (page)="onPageChange($event)"
      aria-label="Select page"
      [class.dark]="isDarkThemeEnabled$ | async"
    >
    </mat-paginator>
  </ng-template>
</div>
