@use "../../../styles/variables";

.country {
    background-color: variables.$White;
    border-radius: 5px;
    overflow: hidden;
    max-width: 265px;
    cursor: pointer;
    &__flag-container {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    &__flag {
        min-width: 265px;
        height: 160px;
        object-fit: cover;
    }
    &__infos {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        padding: 1.25rem 1.5rem 2.5rem;
    }
    &__name {
        font-size: 1.1rem;
        font-weight: 800;
    }
    &__details {
        list-style-type: none;
        display: flex;
        flex-direction: column;
        gap: 0.4rem;
        font-size: .85rem;
    }
}

.dark {
    background-color: variables.$Light-Dark-Blue;
    color: variables.$White;
}